@media screen and (max-width: 800px){

    header .title{
        font-size: 3em;
        width: 100%;
    }

    header .valor{
        font-size: 1em;
    }

    main .about_me .media{
        width: 90%;
        justify-content: center;
    }

    main .about_me .media img{
        width: 40%;
    }
     
    .project-description div p{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
   
    header .title{
        font-size: 2em;
    }

    main{
        margin-top: 150px;
    }

    main .about_me{
        background: #fff;
        margin-bottom: 100px;
    }

    main .about_me article{
        width: 90%;
        font-size: .7em;
    }

    main .about_me article b{
        font-size: 1em;
    }

    main .about_me .media{
        justify-content: center;
        flex-wrap: wrap;
    }

    main .about_me .media img{
        width: 40px;
    }

    main .projects {
        margin-bottom: 150px;
    }
  
    main .skills .skill{
        width: 40%;
    }

    main .skill img{
        width: 100%;
    }

    footer .contact h2{
        font-size: 2em;
    }
}